{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src={% static 'blog/images/IMG_4010.jpg' %} alt="Javier - The Author of this blog">
            <h2>Javier's Blog</h2>
        </header>
        <p>Hi, I am Javier and I love to talk about tech and nature!</p>
    </section>

    <section id="latest-posts">
        <h2>My latest Thoughts</h2>

        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post-preview.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, I love helping other people, and enjoy exploring new technologies in general!</p>
        <p>My goal is to keep on growing as a developer, and if I could help you to do the same, I would be so happy!</p>
    </section>
{% endblock content %}
